<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sogou.speech.base_lib">

    <application>
        <!--<provider-->
            <!--android:name="com.cat.zeus.Zeus"-->
            <!--android:authorities="com.cat.zeus.fuck" />-->
    </application>

</manifest>