<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jni.org">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".activity.AITipScrollViewActivity"></activity>-->
        <!-- <activity android:name=".activity.ViewPagerActivity"></activity> -->
        <!-- <activity android:name=".activity.AITipActivity"></activity> -->
        <service
            android:name=".service.CalService"
            android:enabled="true"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".activity.TestActivity" -->
        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:process=":xxxtest" /> -->
        <activity android:name=".activity.AITip_X_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ManagerUserService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>